@font-face {
  font-family: "Comic";
  src: url(/polices/comic-sans-ms_[fr.allfont.net].ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comic, Helvetica, sans-serif;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}


/* ----------------------HEADER-ON<--------------------------- */
header {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
  border-bottom: #a5a5a5 1px solid;
}

/* LOGO */
header .logo {
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  margin-left: 3rem;
  width: 65px;
  transition: 1.7s all;
}

header .logo img:hover {
  transform: rotate(360deg);
  transition: 1.7s all;

}

header .logo i {
  color: #ffffff;
  display: none;
}

/* NAVIGATION  */
header .headNav {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .headNav li a {
  text-decoration: none;
  color: #7e7e7e;
  margin: 10px 30px;
  padding: 0.5rem;
  font-size: 0.88rem;
  transition: 0.3s all;
}

header .headNav li a:hover {
  color: #a1a1a1;
  font-size: 0.9rem;
  transition: 0.3s all;
}

header .headNav li .active {
  color: #ffffff;
}

header .headNav li .active:hover {
  color: #ffffff;
}

header .headNav .télécharger {
  padding: 1.2rem 2rem;
  border-radius: 100px;
  background-color: #cfcccc;
  color: #111111;
  transition: 0.8s all;
}

header .headNav .télécharger:hover {
  background-color: #ffffff;
  color: #111111;
  padding: 1.3rem 2.1rem;
  transition: 0.5s all;
}


/* ------------------------HEADER-OFF>-------------------------*/


/* 
------------------CONTENU DE LA PAGE<ON--------------------- */
#section1 {
  background-color: #111111;
  color: white;
  display: flex;
  width: 100%;
  padding: 2.5% 5% 0 5%;
}

/* GAUCHE */
#section1 .gauche {
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

/* Description */
#section1 .gauche .description h1 {
  margin: 12% 0 8% 0;
  font-size: 3rem;
  font-weight: bold;
}

#section1 .gauche .description .h1_Responsive {
  display: none;
}

#section1 .gauche .description p {
  font-size: 1rem;
  font-weight: 400;
  color: #a1a1a1;
}

/* Download */
#section1 .gauche .downloadIcons {
  height: 45%;
  display: flex;
  flex-direction: column;
  margin: 15% 0 0 0;
}

#section1 .gauche .downloadIcons a {
  width: max-content;
}

#section1 .gauche .downloadIcons .ios {
  width: 250px;
  transition: 0.3s all;
}

#section1 .gauche .downloadIcons .android {
  width: 270px;
  transition: 0.3s all;
}

#section1 .gauche .downloadIcons .responsiveDownload img {
  display: none;
}

#section1 .gauche .downloadIcons img:hover {
  transform: scale(1.05);
  margin: 1px;
}



/* DROITE */
#section1 .droite {
  width: 45%;
  display: flex;
  justify-content: center;
}

#section1 .droite #login1 {
  width: 85%;
}

#section1 .droite #login2 {
  display: none;
}

#section1 .droite #loginR1 {
  display: none;
}

#section1 .droite #loginR2 {
  display: none;
}

#section1b {
  height: 265px;
  background: linear-gradient(#111111, #39394f);
}


/* ------------------------------------------------------- */
#section2 {
  width: 100%;
  background: #ffffff;
  color: #000000;
  text-align: center;
  padding: 2rem 3rem;
  margin-bottom: 5rem;
}

#section2 h2 {
  margin: 3rem 0 1rem 0;
}

#section2 p {
  margin: 0.5rem 0;
}

#section2 .blocs {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0;
  justify-content: center;
}

#section2 .blocs .bloc {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  border: solid 2px #e5e5e5;
  margin: 7px;
  padding: 50px;
  align-items: center;
}

#section2 .blocs .bloc .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#section2 .blocs .bloc .icon img {
  width: 20%;
  transition: 0.3s;
  cursor: pointer;
}

#section2 .blocs .bloc .icon .games {
  margin-left: 1rem;
}

#section2 .blocs .bloc .icon .rewards {
  width: 16%;
}

#section2 .blocs .bloc .icon img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}


#section2 .blocs .bloc .description{
  width: 81%;
  display: flex;
  flex-direction: column;
}

#section2 .blocs .bloc .description h3 {
  padding: 1rem;
  color: #111111;
}

#section2 .blocs .bloc .description p {
  color: #7e7e7e;
}

#section2 h4 {
  margin: 3rem;
}

#section2 button {
 border: none;
}

#section2 button a {  
  display: block;
  border-radius: 5px;
  background-color: #6752dc;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 35px;
  transition: 0.3s all;
}

#section2 button a:hover {  
  background-color: #cfcccc;
  color: #111111;
  transform: scale(1.01);
  transition: 0.3s all;
}

/* CONTENU DE LA PAGE OFF> */
footer {
  border-top: #a5a5a5 solid 1px;
  background: #111111;
  color: white;
  padding: 3rem 0 0 0;
}

footer .footer {
  display: flex;
  flex-wrap: wrap;
}

footer .footer #social {
  padding-left: 4rem;
  flex-wrap: wrap;
}

footer .footer #social h3 {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 4rem 0 0 0;
}

footer .footer #social img {
  width: 24px;
  height: 22px;
}

footer .footer #social a {
  display: inline-block;
  margin: 2rem 1rem 0 0;
}

footer .footer #navigation .nav-footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.04rem;
}

footer .footer #navigation .nav-footer ul {
  list-style: none;
  padding: 4rem 4rem 1.5rem 4rem;
  flex-wrap: wrap;
}

footer .footer #navigation .nav-footer li {
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.4rem;
}

footer .footer #navigation .nav-footer li a {
  color: #7e7e7e;
  text-transform: none;
  text-decoration: none;
  justify-content: center;
}

footer .footer #navigation .nav-footer li a:hover {
  color: #a1a1a1;
}

footer .ending {
  display: flex;
  margin: 2rem 0 0 0;
  padding-left: 3rem;
}

footer .ending .copyright {
  width: 50%;
  font-size: 0.8rem;
  margin: 3rem 0 0 0;
}

footer .ending .QRcode {
  width: 50%;
  margin: 3rem;
  text-align: end;
}

footer .ending .QRcode img {
  cursor: pointer;
}

/* Fonts & Spans  */

.violet {
  color: #6752dc;
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

/* ------------RESPONSIVE---------------- */

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}